#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  text-align: middle;
  font-family: monospace;
  font-size: large;
  font-weight: bold;
}
